@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared styles  */
.display-flex {
    display: flex;
}

.secondary-bg {
    background-color: rgb(255, 144, 14, 0.1);
}

/* dark 02 color */
.light-gray {
    color: rgb(66, 66, 66);
}

/* dark 03 color */

.sec-light-gray {
    color: rgb(114, 114, 114);
    ;
}

/* the oreange color  */
.sec-color{
    color: rgb(255, 144, 14);
}

.btn-primary{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    padding: 20px 25px;
    border: none;
}

section{
    margin-top: 130px;
}

/* header related styles */

/* nav realted styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-bar-links {
    gap: 10px;
}

.nav-items {
    list-style: none;
}

.nav-bar-link {
    text-decoration: none;
    font-size: 1.2rem;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.brand {
    color: rgb(19, 19, 19);
    font-size: 3rem;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: center;
}

/* banner realted styles  */

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    color: rgb(19, 19, 19);
    font-size: 4rem;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0%;
    text-align: center;
}

.banner-description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.banner-image{
    width: 100%;
}

/* main related styles */

main{
    max-width: 1440px;
    margin: 0 auto;    
}


/* features related styles */

.features{
    align-items: center;
    padding: 60px;
}

.teams-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.teams-images img{
    width: 100%;
}

.features-content{
    max-width: 540px;
    margin-left: 75px;
}

.features-title{
    font-size: 3rem;
}

#quick-list{
    font-size: 3rem;
    font-weight: 500;
}

/* fact realated styles */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 60px;
    justify-items: center;
}
.fact-card{
    border: 1px solid rgb(255, 144, 14);
    height: 240px;
    width: 240px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.fact-numbers{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fact-description{
    max-width: 540px;
}

/* sponsor related styles */

.sponsors-content{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-image{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.sponsor-image img{
    filter: grayscale(100%);
}

/* footer related styles */

/* media queries realted styles */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-bar-links, 
    .features{
     flex-direction: column;
    }

    .teams-images, 
    .fact-container, 
    .sponsor-image{
        grid-template-columns: repeat(1, 1fr);
    }

    .fact-container{
        justify-items: center;
        gap: 24px;
    }

    .features-content{
        margin-left: 0px;
        text-align: center;
    }

    .sponsor-image{
        justify-items: center;
        gap: 50px
    }
}

@media screen and (min-width: 576px) and (max-width: 932px){
    .features{
        flex-direction: column;
    }

    .fact-container, 
    .sponsor-image{
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        justify-items: center;
    }
}